#plans {
    background-color: transparent;
}

.plan-card {
    background-color: var(--background-transparent);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(255, 215, 0, 0.3);
    border: 3px solid #FFCC29;
    max-width: 400px;
    margin: 40px auto 0;
    transition: transform 0.3s ease;
}

.plan-card:hover {
    transform: scale(1.02);
}

.plan-card .price {
    font-size: 4em;
    font-weight: bold;
    color: #FFCC29;
    margin-bottom: 10px;
}

.plan-card .price span {
    font-size: 0.5em;
    color: #E0E0E0;
}

.plan-card ul {
    list-style: none;
    padding: 0;
    margin: 30px 0;
    text-align: left;
}

.plan-card ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #E0E0E0;
    display: flex;
    align-items: stretch;

}

.plan-card ul li::before {
    content: url(/assets/icons/seal-check-fill.svg); 
    margin-right: 10px;
    color: #FFCC29;
}